.slider-option.checked > img {
  border: 6px solid green;
}
#slider img {
  width: 80%;
  height: auto;
}
Styling for swipe plugin
*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#total_score {
  font-weight: bold;
}
.ui-btn-text {
  padding: 0px;
}
.bg-completed {
  background: #95FF4F;
}
.txt-completed {
  color: green;
}
.txt-uncompleted {
  color: red;
}
.headerNavBtns {
  float: none;
  margin-left: 5px;
}
