.slider-option.checked > img {
  border: 6px solid green;
}
.slider-option > img {
  width: 90%;
  height: auto;
}
Styling for swipe plugin
*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#total_score {
  font-weight: bold;
}
.ui-btn-text {
  padding: 0px;
}
.bg-completed {
  background: #95FF4F;
}
.ballard_score {
  width: auto;
  float: right;
}
.ballard_name {
  width: auto;
  float: left;
}

.ui-grid-b > :nth-child(n) { width: 50%; margin-right: -.5px; }

 .odk-label {
     font-size: larger;
     text-align: center;
 }


.ui-block-a {
   width:50%;
}

.ui-block-b {
    width:50%;
}

.ui-block-c {
    width:50%;
}

.ui-bar {
    background: lightyellow;
}

.headerNavBtns {
  float: none;
  margin-left: 5px;
}
