<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
    <div class = "chlorothiazide">
    <!--<h1>Chlorothiazide (Brand Name: Diuril)</h1>-->

	<h2>Dosing</h2>
	<p><b>Edema, heart failure, bronchopulmonary dysplasia</b>: Limited data available; Note: The manufacturer states that I.V. and oral dosing are equivalent; however, some clinicians use lower I.V. doses due to poor oral absorption.
		<ul>
			<li>Oral: 20-40 mg/kg/day in 2 divided doses</li>
			<li>I.V.: 5-10 mg/kg/day in 2 divided doses (Costello, 2007); doses up to 20 mg/kg/day have been used</li>
		</ul>
	</p>
	<p><b>Hyperinsulinemia hypoglycemia, congenital hyperinsulinism (adjunct therapy)</b>: Limited data available: 
		<ul>
			<li>Oral: 7-10 mg/kg/day in 2 divided doses in combination with diazoxide (Aynsley-Green, 2000; Hussain, 2004; Kapoor, 2009)</li>
		</ul>
	</p>
	<p><b>Diabetes insipidus (central)</b>: Limited data available: 
		<ul>
			<li>Oral: 10 mg/kg/day in 2 divided doses; may need to titrate dose to target urine osmolality: 100-150 mOsm/L (Rivkees, 2008)</li>
		</ul>
	</p>

	<h2>Mechanism of Action</h2> 
	<p>Inhibits sodium reabsorption in the distal tubules causing increased excretion of sodium, chloride, potassium, bicarbonate, magnesium, phosphate, calcium (transiently) and water</p>

	<h2>Pharmacodynamics</h2>
	<p>
		<ul>
			<li>Onset of action: Diuresis: Oral: Within 2 hours; I.V.: Within 15 minutes</li>
			<li>Maximum effect: Diuresis: Oral: 4 hours; I.V.: 30 minutes</li>
			<li>Duration: Diuresis: Oral: ~6-12 hours; I.V.: 2 hours</li>
		</ul>
	</p>
</div>
</div>