<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
    <div class = "furosemide">
    <h1>Furosemide (Brand Name: Lasix)</h1>

	<p>Therapeutic Category: Antihypertensive Agent; Diuretic, Loop</p>
	<h2>Dosing: Neonatal</h2>
	Edema:
	<p>
		<b>Oral</b>: Doses of 1 mg/kg/dose 1-2 times/day have been used I.M., I.V.: Note: Significant absorption within ECMO circuit; avoid administration directly into circuit; high doses may be required for adequate diuretic effect (Buck, 2003):
		<ul>
			<li>GA <31 weeks: 1 mg/kg/dose every 24 hours; accumulation and increased risk of toxicity may be observed with doses >2 mg/kg or doses of 1 mg/kg given more frequently than every 24 hours (Mirochnick, 1988)</li>
			<li>GA ≥31 weeks: 1-2 mg/kg/dose every 12-24 hours</li>
		</ul>
		
		<p><b>Continuous I.V. infusio</b>: 0.2 mg/kg/<b>hour</b>, increase in 0.1 mg/kg/<b>hour</b> increments every 12-24 hours to a maximum infusion rate of 0.4 mg/kg/hour (Luciani, 1997; Schoemaker, 2002)</p>

		<p><b>Pulmonary edema: Inhalation</b>: 1-2 mg/kg/dose diluted in 2 mL NS as a single dose (Brion, 2009)</p>

		<p>Usual Infusion Concentrations: Neonatal</p>
	</p>
	<p><b>I.V. infusion</b>: 2 mg/mL <b>or</b> undiluted as 10 mg/mL</p>

	<h2>Administration</h2>
	<p>Oral: May administer with food or milk to decrease GI distress</p>
	<p>Parenteral: I.V.: May be administered undiluted direct I.V. at a maximum rate of 0.5 mg/kg/minute (not to exceed 4 mg/minute); may also be diluted for infusion 1-2 mg/mL (maximum concentration: 10 mg/mL) over 10-15 minutes (following maximum rate as above); in adults, 20-40 mg undiluted solution may be administered over 1-2 minutes</p>

	<h2>Mechanism of Action</h2> 
	<p>Inhibits reabsorption of sodium and chloride in the ascending loop of Henle and distal renal tubule, interfering with the chloride-binding cotransport system, thus causing increased excretion of water, potassium, sodium, chloride, magnesium, and calcium</p>

	<h2>Pharmacodynamics</h2>
	<ul>
		<li>Onset of action:</li>
		<li>Oral: Within 30-60 minutes</li>
		<li>I.M.: 30 minutes</li>
		<li>I.V.: 5 minutes</li>
		<li>Maximum effect: Oral: Within 1-2 hours</li>
		<li>Duration:</li>
		<li>Oral: 6-8 hours</li>
		<li>I.V.: 2 hours</li>
	</ul>
</div>
</div>