<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 

  <h1>Ultrasound of the Neonatal Head Protocol</h1>
  <hr>
  <h2>INDICATIONS</h2>
   
   <ul>
      <li>Prematurity:</li>
        <ul>
          <li>Some people discriminate between the terms preterm and premature.</li>
          <li><b>Preterm</b> refers to delivering prior to 37weeks whilst a premature infant is one that has not yet reached the level of fetal development that generally allows life outside the womb.</li>
          <li>The fine network of vessels (the germinal matrix) on the floor of the anterior horn of the lateral ventricles (the ependyma) are extremely fragile.</li>
          <li>If there is any hypoxic episode, the reactive increase in blood pressure can result in a haemorrhage of these vessels.</li>
          <li>Usually assessed at day 1 and again at day 7.</li> 
        </ul>
  <li>Increased head circumference</li>
  <li>Persisting large fontanelle</li>
  <li>Craniosynostosis (premature closure of sutures)</li>
  <li>Trauma</li>
  <li>Known hypoxia</li>
  <li>Follow up of known pathology</li>
  <li>Failure to thrive</li>
  <li>Suspected intracranial mass or infection</li>
  </ul>

  <h2>LIMITATIONS</h2>

  <div>If the anterior fontanel is very small or closed your visibility will be reduced or completely obscured. Even with a large fontanelle, the peripheral extremes of the brain are obscured from view.</div>

  <hr>
</div>