<div class="{{#if hide}}odk-hidden{{/if}}">
<div class="procedure">
    {{> labelHint}} 
    <h1>Intubation</h1>

    <h2>Procedure Steps</h2>

	<ol style = "color: beige; text-shawdow: none">
		<li>Position the neonate: “sniffing position”</li>
		<li>Open laryngoscope and hold in left hand.</li>
		<li>Preoxygenate</li>
		<li>Open mouth and insert laryngoscope</li>
		<li>Lift laryngoscope in the direction of the handle (to visualize the glottis)</li>
		<li>Visualize the glottis</li>
			<p>The laryngoscope should be placed beyond the base of the tongue and before the epiglottis, or beyond the epiglottis and gently compressing the epiglottis against the base of the tongue.
			</p>
			<p>Lift the laryngoscope in the direction that the blade is pointing in order to bring the glottis into view. Cricoid pressure may also be helpful, and can be applied by the little finger of the hand holding the laryngoscope.
			</p>
			<p>Do not lever the laryngoscope against the infant’s gums.
			</p>
			<p>As well as lifting the laryngoscope, you may also provide cricoid pressure with your little finger, or ask an assistant to do this for you.
			</p>

		<li>Insert the Endotracheal Tube</li>
			<p>ET tube length estimated by the rule of six
			If inserted orally, it should be (6 + weight) cm from the lip.
			If inserted nasally, using a McGill's forceps, it should be (6 + (1.5 x weight)) cm from the nares.</p>

		<li>Remove Introducer</li>

		<li>Verify Tube Placement</li>
			<ul>
			<li>Look for symmetrical chest rise.</li>
			<li>Increasing heart rate.</li>
			<li>Watch ETT going through the cords.</li>
			<li>Colorimeter change change to yellow reflects exhaled carbon dioxide.</li>
			<li>Auscultate for bilateral air entry.</li>
			<li>Chest X-Ray.</li>
			<li>See misting on inner surface of ETT.</li>
			</ul>

			<img scr="img/chestXRay.jpg">
			<b>Chest X-Ray: Correct Placement of ETT and Respiratory Distress Syndrome.</b>

	</ol>
    
</div>
</div>
