<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
<div class = "umbilical">
	<h1>UAC/UVC<h1>
	<h2>Umbilical Arterial Line</h2>
		<table border="1">
			<tr>
				<td><b>Length</b></td>
				<td align="right">(weight[kg] x 3) + 9 cm</td>
			</tr>
			<tr>
				<td><b>High Position</b></td>
				<td align="right">T8 - T10</td>
			</tr>
			<tr>
				<td><b>Low Position</b></td>
				<td align="right">L3 - L4</td>
			</tr>
		</table>
	<h2>Umbilical Venous Line</h2>
		<table border = "1">
			<tr>
				<td><b>Length</b></td>
				<td align="right">(weight[kg] x 2) + 5 cm</td>
			</tr>
			<tr>
				<td><b>Position</b></td>
				<td align="right">Inferior vena cava</td>
			</tr>
		</table>
</div>