body {
	font-size: 20px;
}
h1 {
	color: rgb(108, 108, 108);
	font-size: 50px;
}
#menu {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 30px;
	color: rgb(108, 108, 108);
	border-bottom: 1px solid black;
}
#menu li{
	padding-right: 36px;
	font-weight: bold;
}
#menu a {
	color: rgb(108, 108, 108);
}
#menu a:hover {
	color: rgb(20, 20, 20);
}
#menu-container {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(145, 142, 223);
}