<form>
  <a class="clear-ballard ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline"
    data-role="button" data-inline="true" data-corners="true" data-shadow="true"
    data-iconshadow="true" data-wrapperels="span" data-theme="c">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">
        Clear Exam
      </span>
    </span>
  </a>
  <p class="odk-label">Ballard Exam - Neuromuscular
  </p>
  <fieldset data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical">
    <div class="ui-controlgroup-controls">
      <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-top ui-btn-up-d">
        <span class="ui-btn-inner ui-corner-top">
          <span class="ui-btn-text">
            Posture
          </span>
        </span>
        <input type="radio" name="ballard_menu" id="posture" value="posture">
      </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Square Window
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="square" value="square">
        </label>
      </div>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Arm Recoil
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="arm" value="arm">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Popliteal Angle
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="popliteal" value="popliteal">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Scarf Sign
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="scarf" value="scarf">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-bottom ui-controlgroup-last ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-bottom ui-controlgroup-last">
            <span class="ui-btn-text">
              Heel to Ear
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="heel" value="heel">
        </label>
  </fieldset>
  <div style="clear:both;">
  </div>
  <p class="odk-label">
  Ballard Exam - Physical
  </p>
  <fieldset data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical">
    <div class="ui-controlgroup-controls">
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-top ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-top">
            <span class="ui-btn-text">
              Skin
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="skin" value="skin">
        </label>
      </div>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Lanugo
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="lanugo" value="lanugo">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Plantar Surface
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="plantar" value="plantar">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Breast
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="breast" value="breast">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Eye/Ear
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="eye_ear" value="eye_ear">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-bottom ui-controlgroup-last ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-bottom ui-controlgroup-last">
            <span class="ui-btn-text">
              Genitals
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="genitals" value="genitals">
        </label>
  </fieldset>
  <div style="clear:both;">
  </div>
</form>
<div class="current">
  <div class="">
    <p class="odk-label">
    </p>
    <table>
      <tr id=total_score>
        <td class="ballard-tbl-title">Total Score</td>
        <td class="ballard-tbl-score"></td>
      </tr>
      <tr id='posture_score'>
				<td class="ballard-tbl-title">Posture Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='square_score'>
				<td class="ballard-tbl-title">Square Window Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='arm_score'>
				<td class="ballard-tbl-title">Arm Recoil Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='popliteal_score'>
				<td class="ballard-tbl-title">Popiteal Angle Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='scarf_score'>
				<td class="ballard-tbl-title">Scarf Sign Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='heel_score'>
				<td class="ballard-tbl-title">Heel to Ear Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='skin_score'>
				<td class="ballard-tbl-title">Skin Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='lanugo_score'>
				<td class="ballard-tbl-title">Lanugo Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='plantar_score'>
				<td class="ballard-tbl-title">Plantar Surface Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='breast_score'>
				<td class="ballard-tbl-title">Breast Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='eye_ear_score'>
				<td class="ballard-tbl-title">Eye/Ear Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
      <tr id='genitals_score'>
				<td class="ballard-tbl-title">Genitals Score</td>
      	<td class="ballard-tbl-score"></td>
			</tr>
    </table>
  </div>
</div>
