<form>
  <a class="clear-ballard ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline"
    data-role="button" data-inline="true" data-corners="true" data-shadow="true"
    data-iconshadow="true" data-wrapperels="span" data-theme="c">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text">
        Clear Exam
      </span>
    </span>
  </a>
  <p class="odk-label">Ballard Exam - Neuromuscular
  </p>
  <fieldset data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical">
    <div class="ui-controlgroup-controls">
      <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-top ui-btn-up-d">
        <span class="ui-btn-inner ui-corner-top">
          <span class="ui-btn-text">
            Posture
          </span>
        </span>
        <input type="radio" name="ballard_menu" id="posture" value="posture">
      </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Square Window
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="square" value="square">
        </label>
      </div>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Arm Recoil
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="arm" value="arm">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Popliteal Angle
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="popliteal" value="popliteal">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Scarf Sign
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="scarf" value="scarf">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-bottom ui-controlgroup-last ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-bottom ui-controlgroup-last">
            <span class="ui-btn-text">
              Heel to Ear
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="heel" value="heel">
        </label>
  </fieldset>
  <div style="clear:both;">
  </div>
  <p class="odk-label">
  Ballard Exam - Physical
  </p>
  <fieldset data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical">
    <div class="ui-controlgroup-controls">
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-top ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-top">
            <span class="ui-btn-text">
              Skin
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="skin" value="skin">
        </label>
      </div>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Lanugo
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="lanugo" value="lanugo">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Plantar Surface
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="plantar" value="plantar">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Breast
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="breast" value="breast">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-btn-up-d">
          <span class="ui-btn-inner">
            <span class="ui-btn-text">
              Eye/Ear
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="eye_ear" value="eye_ear">
        </label>
        <label data-corners="true" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="radio-off" data-theme="d" class="ui-btn ui-btn-icon-left ui-radio-off ui-corner-bottom ui-controlgroup-last ui-btn-up-d">
          <span class="ui-btn-inner ui-corner-bottom ui-controlgroup-last">
            <span class="ui-btn-text">
              Genitals
            </span>
          </span>
          <input type="radio" name="ballard_menu" id="genitals" value="genitals">
        </label>
  </fieldset>
  <div style="clear:both;">
  </div>
</form>
<div class="current">
  <div class="">
    <p class="odk-label">
    </p>
    <h2 id='total_score'>Total Score: 
    </h2>
    <h2 id='nm_score'>Neuromuscular Score: 
    </h2>
    <ul>
      <li id='posture_score'>Posture Score: 
      </li>
      <li id='square_score'>Square Window Score: 
      </li>
      <li id='arm_score'>Arm Recoil Score: 
      </li>
      <li id='popliteal_score'>Popiteal Angle Score: 
      </li>
      <li id='scarf_score'>Scarf Sign Score: 
      </li>
      <li id='heel_score'>Heel to Ear Score: 
      </li>
    </ul>
    <h2 id='physical_score'>Physical Score: 
    </h2>
    <ul>
      <li id='skin_score'>Skin Score: 
      </li>
      <li id='lanugo_score'>Lanugo Score: 
      </li>
      <li id='plantar_score'>Plantar Surface Score: 
      </li>
      <li id='breast_score'>Breast Score: 
      </li>
      <li id='eye_ear_score'>Eye/Ear Score: 
      </li>
      <li id='genitals_score'>Genitals Score: 
      </li>
    </ul>
    <p>
    </p>
  </div>
</div>
