<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
    <h1>Caffeine</h1>

    <h2>Dose and Administration</h2>

	<div align="center">
		<table border="1" width="90%" cellspacing="0" cellpadding="2" id="table1" bordercolor="#0000FF">
			<tr>
				<td width="159" align="center" bgcolor="#9999FF" style="border-style: solid; border-width: 1px">&nbsp;</td>
				<td width="238" align="center" bgcolor="#9999FF" style="border-style: solid; border-width: 1px">
	<b>
			Loading Dose</b></td>
				<td align="center" bgcolor="#9999FF" style="border-style: solid; border-width: 1px">
	<b>
			Maintenance dose</b></td>
			</tr>
			<tr>
				<td width="159" align="left" bgcolor="#F2F2FF" style="border-style: solid; border-width: 1px">
				<b>IV</b></td>
				<td width="238" bgcolor="#F2F2FF" style="border-style: solid; border-width: 1px">
				20 mg/kg/dose- over 30 minutes</td>
				<td bgcolor="#F2F2FF" style="border-style: solid; border-width: 1px">
				5mg/ kg/dose every 24hrs<sup><font size="2">1,2,3</font></sup></td>
			</tr>
			<tr>
				<td width="159" align="left" bgcolor="#FFFBF4" style="border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-top-style: solid; border-top-width: 1px">
				<b>Oral
	</b></td>
				<td width="238" bgcolor="#FFFBF4" style="border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-top-style: solid; border-top-width: 1px">
				20 mg/kg/dose - give with feed</td>
				<td bgcolor="#FFFBF4" style="border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-top-style: solid; border-top-width: 1px">
				5mg/ kg/dose </td>
			</tr>
		</table>
		<table border="1" width="90%" cellspacing="0" cellpadding="2" bordercolor="#0000FF" id="table2">
			<tr>
				<td width="158" bgcolor="#F2F2FF" style="border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">
				<b>Additional Information</b></td>
				<td align="left" valign="top" bgcolor="#F2F2FF" style="border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">
				<ul>
					<li>Maintenance dose can be increased to 10mg/kg/dose every 24 
					hours if apnoeas persist.</li>
					<li>Maintenance dose given at 0600 hrs</li>
					<li>If loading dose given before 2200 hrs, start maintenance at 
					0600 next day.</li>
					<li>If loading dose given after 2200 hrs, miss the next 0600 hr 
					dose and give a day later at 0600hrs (i.e. between 24 to 32 
					hours after the loading dose) <br>
	&nbsp;</li>
				</ul>
				</td>
			</tr>
		</table>
	</div>

    <b>Note: Caffeine Citrate 20mg/ml is equivalent to Caffeine Base 10mg/ml</b>

	<h2>Indications</h2>

	Apnoea of prematurity
	Respiratory stimulation to assist extubation. - other doses have been used
	
	<h2>Contraindications and Precautions</h2>

	Known hypersensitivity to caffeine
	Caution in very immature infants
	Caution in neonates with liver and/or gastrointestinal tract disease
	Caution in neonates with fits or tachyarrhythmia
	
	<h2>Clinical Pharmacology</h2>

	<p>Caffeine is a member of the group of chemically related alkaloids known as methylxanthines. Almost all organ systems can be influenced by the methylxanthines, although the predominant site of activity involves the central nervous system and the cardiovascular system. Three major cellular actions of the methylxanthines have been suggested: translocation of intracellular calcium, increasing accumulation of cyclic nucleotides (particularly cyclic 3'S' AMP), and blockage of receptors for adenosine.</p>

	<p>Pharmacological effects of caffeine include: stimulation of medullary respiratory centres, generalised enhancement of CNS cellular response to stimulation, increased heart rate, decreased peripheral vascular resistance, increased cerebral vascular resistance, smooth muscle relaxation, skeletal muscle stimulation, stimulation of gastrointestinal secretions, and diuresis. Caffeine may increase diaphragmatic contractility. The pharmacological mechanisms proposed for the alteration of neonatal apnoea include: increased sensitivity of medullary respiratory centre to CO2, increased afferent nerve traffic to brain stem, increased catecholamine response, stimulation of central inspiratory drive, improved skeletal muscle contraction, improved metabolic homeostasis, and improved oxygenation via increased cardiac output and decreased hypoxaemic episodes. Caffeine, when compared to theophyllines with equal efficacy, has fewer side effects. Caffeine has a wider therapeutic to toxic ratio and is administered once a day because of its long half-life. Serious problems are rare and only occur in large overdose but would include neurological abnormalities such as tremor, seizures and hypertension, cardiac abnormalities such as tachyarrhythmias. Side effects are rare at levels <400μmol/ml.</p>

	<p>Oral administration results in very good bioavailability. There is little evidence that food delays absorption of caffeine. Caffeine is metabolised by the liver cytochrome oxygenase system which is induced by phenobarbitone and phenytoin. Levels may be increased by enzyme inhibitors such as cimetidine.</p>

	<h2>Possible Adverse Effects</h2>

	<p>1. Failure to gain weight</p>
	<p>2. Hyperglycaemia, hypoglycaemia3</p>
	<p>3. Gastrointestinal disturbances (nausea, vomiting, abdominal distension)</p>
	<p>4. Irritability, sleeplessness, jitteriness</p>
	<p>5. Cardiac arrhythmias, tachycardia, rarely bradycardia, hypertension3</p>
	<p>6. Diuresis and dehydration</p>
	<p>7. Tachypnoea</p>
	<p>8. Hyperreflexia, seizures</p>
	<p>9. Necrotising enterocolitis2</p>
	
	<h1>Special Considerations</h1>

	<p>1. Half-life very long (t½>100hrs). A baby will need respiratory monitoring for several days after discontinuing.</p>
	<p>2. Rapid infusion of caffeine citrate may precipitate cardiac arrhythmias.</p>
	<p>3. Routine levels are not necessary on stable babies. Serum levels should be obtained if toxicity is suspected or if a baby continues to have apnoea and has not previously had an optimal level documented. Levels should not be checked within 6 hours of previous dose. Order levels the day before assay is to be done and do at 0830 hours.</p> 
	<p>4. Therapeutic range is: 50 – 180 micromol/litre; levels > 260 micromol/litre are considered toxic . Note that the assay is not very accurate and has a coefficient of variation of 15%.
	Treatment of serious caffeine toxicity: activated charcoal 1 gm/kg as a slurry by gavage tube every 2-4 hours. Avoid sorbitol-containing preparations - they may cause osmotic diarrhoea.</p>
	<p>5. If infant is on phenobarbitone clearance of caffeine citrate is increased, therefore decrease dose interval from 24 hourly to 12-18 hourly</p>

	<a href="http://www.adhb.govt.nz/newborn/drugprotocols/CaffeineCitratePharmacology.htm">Source</a>
</div>