<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
    <!--<h1>Caffeine</h1>-->

	<h2>Therapeutic Category</h2> 
	<p>Central Nervous System Stimulant; Diuretic; Respiratory Stimulant</p>

	<h2>Dosing</h2> 
	<p>Neonatal Oral, I.V.: Apnea of prematurity: Caffeine citrate: Note: Dose expressed as caffeine citrate; caffeine base is 1/2 the dose of the caffeine citrate:</p>
	<p><b>Loading dose (first dose)</b>: Minimum dose: 20 mg/kg caffeine citrate; loading doses as high as 80 mg/kg of caffeine citrate have been reported (Steer, 2004); some centers repeat a load of 20 mg/kg as caffeine citrate to a maximum cumulative dose load of 80 mg/kg as caffeine citrate in refractory patients (Schmidt, 2006; Schmidt, 2007; Steer, 2004)</p>
	<p><b>Maintenance dose (later doses to maintain the level needed)</b>: 5-10 mg/kg/day caffeine citrate once daily starting 24 hours after the loading dose; some centers increase maintenance dose in 5 mg/kg/day increments of caffeine citrate to a maximum of 20 mg/kg/day in refractory patients based on clinical response ± serum caffeine concentrations (Schmidt, 2006; Schmidt, 2007; Steer, 2004)</p>

	<h2>Use</h2> 
	<p>Treatment of idiopathic apnea of prematurity (caffeine citrate)</p>

	<h2>Administration</h2>
	<p><b>Oral</b>: May be administered without regard to feedings or meals; may administer injectable formulation (caffeine citrate) orally</p>
	<p><b>Parenteral</b>: Infuse loading dose over at least 30 minutes; maintenance dose may be infused over at least 10 minutes; may administer without dilution or diluted with D5W to 10 mg caffeine citrate/mL</p>

	<h2>Monitoring Parameters</h2> 
	<p>Heart rate, number and severity of apnea spells, serum caffeine levels</p>

	<h2>Reference Range</h2>
	<ul>
	<li>Therapeutic: Apnea of prematurity: 8-20 mcg/mL</li>
	<li>Potentially toxic: >20 mcg/mL</li>
	<li>Toxic: >50 mcg/mL</li>
	</ul>

	<h2>Mechanism of Action</h2> 
	<p>Increases levels of 3'5' cyclic AMP by inhibiting phosphodiesterase; CNS stimulant which increases medullary respiratory center sensitivity to carbon dioxide, stimulates central inspiratory drive, and improves skeletal muscle contraction (diaphragmatic contractility); prevention of apnea may occur by competitive inhibition of adenosine</p>

</div>