<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
<h1 style="background-color:gray; color: white">Chest and Abdominal XRAY</h1>
<hr>
<hr>
<h2 style="color:gray;">Chest</h2>
	<div>
		<p><b>Respiratory Distress Syndrome: </b></p>
		<p>homogenous, symmetrical, diffusely ground glass and air bronchograms in appearance</p>
		<img src="../working/../working/img/chest/1.png" alt="respiratory" height="300" width="300">
	</div>

	<div>
		<p><b>Pneumonia: </b></p>
		<p>patchy or confluent pulmonary consolidations</p>
		<img src="../working/../working/img/chest/2.png" alt="Pneumonia" height="300" width="300">
	</div>

	<div>
		<p><b>Meconium Aspiration Syndrome: </b></p>
		<p>widespread patchy infiltrates associated with peripheral hyperinflation</p>
		<img src="../working/../working/img/chest/3.png" alt=">Meconium Aspiration Syndrome" height="300" width="300">
	</div>

	<div>
		<p><b>Pneumothorax:  </b></p>
		<img src="../working/../working/img/chest/4.png" alt="Pneumothorax" height="300" width="300">
	</div>

<hr>
<h2 style="color:gray;">Abdomen</h2>
	<div>
		<p><b>Pneumotosis Intestinalis: </b></p>
		<img src="../working/../working/img/abdomen/1.png" alt="Pneumotosis Intestinalis" height="300" width="300">
	</div>
	<div>
		<p><b>Duodenal Atresia: "double bubble"</b></p>
		<img src="../working/../working/img/abdomen/2.png" alt="Duodenal Atresia" height="300" width="300">
	</div>
	<div>
		<p><b>Congenital Diaphragmatic Hernia:  </b></p>
		<img src="../working/../working/img/abdomen/3.png" alt="Diaphragmatic Hernia" height="300" width="300">
	</div>