<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
<h1>Chest and Abdominal XRAY</h1>
<h2>Chest</h2>
	<div>
		<p><b>Respiratory Distress Syndrome: </b></p>
		<p>homogenous, symmetrical, diffusely ground glass and air bronchograms in appearance</p>
	</div>

	<div>
		<p><b>Pneumonia: </b></p>
		<p>patchy or confluent pulmonary consolidations</p>
	</div>

	<div>
		<p><b>Meconium Aspiration Syndrome: </b></p>
		<p>widespread patchy infiltrates associated with peripheral hyperinflation</p>
	</div>

	<div>
		<p><b>Pneumothorax:  </b></p>
	</div>

<hr>
<h2>Abdomen</h2>
	<div>
		<p><b>Pneumotosis Intestinalis: </b></p>
	</div>
	<div>
		<p><b>Duodenal Atresia: "double bubble"</b></p>
	</div>
	<div>
		<p><b>Congenital Diaphragmatic Hernia:  </b></p>
	</div>