<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}} 
<h1 style="background-color:gray; color: white">UAC/UVC<h1>
<h2  style="color:gray;">Umbilical Arterial Line</h2>
	<table border="1">
		<tr>
			<td><b>Length</b></td>
			<td align="right" style="color:#0052CC">(weight[kg] x 3) + 9 cm</td>
		</tr>
		<tr>
			<td><b>High Position</b></td>
			<td align="right" style="color:#0052CC">T8 - T10</td>
		</tr>
		<tr>
			<td><b>Low Position</b></td>
			<td align="right" style="color:#0052CC">L3 - L4</td>
		</tr>
	</table>
<h2 style="color:gray;">Umbilical Venous Line</h2>
	<table border = "1">
		<tr>
			<td><b>Length</b></td>
			<td align="right" style="color:#0052CC">(weight[kg] x 2) + 5 cm</td>
		</tr>
		<tr>
			<td><b>Position</b></td>
			<td align="right" style="color:#0052CC">Inferior vena cava</td>
		</tr>
	</table>